  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- <li class="nav-heading">Pages</li> -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/appointments">
          <i class="bi bi-card-list"></i>
          <span>Appointments</span>
        </a>
      </li><!-- End Appointments Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/recent-activity">
          <i class="bi bi-person"></i>
          <span>Recent Activity</span>
        </a>
      </li><!-- End Recent Activity Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/prescriptions">
          <i class="bi bi-question-circle"></i>
          <span>Prescriptions</span>
        </a>
      </li><!-- End Prescription Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/health-journal">
          <i class="bi bi-file-earmark"></i>
          <span>Health Journal</span>
        </a>
      </li><!-- End Health Journal Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/diagnostic-lab-reports">
          <i class="bi bi-envelope"></i>
          <span>Diagnostic Lab Reports</span>
        </a>
      </li><!-- End Diagnostic Lab Reports Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/ekg">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>EKG</span>
        </a>
      </li><!-- End EKG Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/my-hcps">
          <i class="bi bi-dash-circle"></i>
          <span>My HCPs</span>
        </a>
      </li><!-- End My HCPs Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/find-hcp">
          <i class="bi bi-file-earmark"></i>
          <span>Find HCP</span>
        </a>
      </li><!-- End Find HCP Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/billing-payments">
          <i class="bi bi-file-earmark"></i>
          <span>Billing & Payments</span>
        </a>
      </li><!-- End Billing & Payments Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/settings-notifications">
              <i class="bi bi-circle"></i><span>Notifications</span>
            </a>
          </li>
          <li>
            <a href="/settings-permissions">
              <i class="bi bi-circle"></i><span>Permissions</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

    </ul>

  </aside><!-- End Sidebar-->