<%- include('partials/head') -%>
<%- include('partials/header') -%>
<%- include('partials/sidebar') -%>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>My HCPs</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">My HCPs</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row justify-content-center">
    <div class="col-lg-5">

      <h2>Under Construction!</h2>

    </div>
  </div>
</section>
</main>
<%- include('partials/footer') -%>